.App{
   height: 100%;
    width: 100%;
}
.app-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    grid-template-areas:'heder heder'
    'nav content';
}

.heder {
    grid-area: heder;
    background-color: grey;
}

.heder img {
    width: 60px;
    height: 60px;
}

.nav {
    grid-area: nav;
    background-color: aquamarine;
}

.content {
    grid-area: content;
    background-color: #6590e1;
}